.footer__container {
  padding: 1em 0;
  width: 100%;
  height: 20vh;
  border-top: 15px solid #000000; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(180deg, #010130 41%, #000000 100%);
  font-size: 1.3em;
}