.contact__container {
  box-shadow: inset -1px 0 0 white;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.contact__last_container {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.contact__img {
  width: 50px;
  height: 50px;
}
.contact__title {
  color: white;
  font-weight: 600;
}
.contact__text {
  color: white;
  font-weight: 400;
}